.container {
  display: flex;
  flex-direction: column;
  width: 15% !important;
  height: 100vh;
  background-color: #84a98c;
  margin: 0 !important;
}
ul {
  background-color: #84a98c;
  list-style: none;
}
li {
  position: relative;
  left: -25px;
  background-color: #84a98c;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}
.user-li {
  margin-top: 100px;
}
a {
  background-color: #84a98c;
  text-decoration: none !important;
  color: bisque !important;
  margin: 3px;
}
.navLbl {
  background-color: #84a98c;
}
label:hover {
  cursor: pointer;
}
svg {
  background-color: #84a98c;
  color: bisque;
  margin: 3px;
}

.img {
  height: 70px;
  border-radius: 20px;
}
@media only screen and (max-width: 1000px) {
  .container {
    width: 70px !important;
  }
  .navLbl {
    display: none !important;
  }
  svg {
    position: relative;
    left: -10px;
  }
  .img {
    height: 20px;
    border-radius: 10px;
  }
}
